body{
    background-color: grey; 
    position: absolute;
    width: 100%;
}
#headingBox{
    position: relative;
    background-color: #A9AA39;
    width: 95%;
    height: 150px;
    padding: 1%;
    margin: 1% 1% 1% 1%;
}
h1{
    font-family: 'Yeseva One', cursive;
    font-size: 80px;
    padding:;
    color: #3a3a3a;
    position: relative;
    top: 15px;

}
#navBar{
    width: 97%;
    margin: 1% 1% 1% 1%;
    border: 2px dotted black;
    position: relative;
    background-color: white;
    height: 2.6em;
}
#navBar ul{
    border: 2px solid pink;
    float: left;
    position: relative;
    padding: 0px;
    margin: 0 0 0 0;
    list-style: none;
    align: center;
}
#navBar ul li{
    float: left;
    padding: 0em 0.1em 0em 0.1em
}
#navBar li a{
    border: 2px solid black;
    background-color: #FCFF00;
    float: left;
    display: block;
    text-decoration: none;
    padding: 0.6em 11.2em 0.3em 11.2em;
    font-family: 'Yeseva One', cursive;
    font-size: 15px;
    color:#3a3a3a;
    font-weight: bold;
}
#navBar li a:hover{
      background-color: #1d1d1d;
      color: #FCFF00;
}
#navBar a:active{
    background-color: #3a3a3a;
    color: #FCFF00;
}