body{
    background-color: grey; 
    position: absolute;
    width: 100%;
}
#headingBox{
    position: relative;
    background-color: #A9AA39;
    width: inherit;
    height: auto;
    padding: 1%;
}
h1{
    font-family: 'Yeseva One', cursive;
    font-size: 80px;
    color: #3a3a3a;
    position: relative;
    top: 15px;

}

ul, li{ 
    list-style:none; 
    padding:0;
}
.main-menu{
    width: 100%;
}
.main-menu ul{
    background-color: #A9AA39;
    width: inherit;
} 
.main-menu a{
    color:#3a3a3a; 
    display:block; 
    padding:5px; 
    text-decoration:none;
    font-family: 'Yeseva One', cursive;
    
}
.main-menu a:hover{
    background-color:#3a3a3a; 
    text-decoration:none; 
    color:#A9AA39;
    font-family: 'Yeseva One', cursive;
}
.main-menu a:active{
    background-color: #3a3a3a;
    color: #FCFF00;
}
}
.main-menu > ul{
     display:table; 
     width:100%;
}  
.main-menu > ul > li{ 
    display:table-cell; 
    width:10%;
}  
.main-menu > ul > li > a{ 
    text-align:center;
}
.main-menu > ul > li{
     display:table-cell; 
     border-right:1px solid #3a3a3a; 
     border-top:1px solid #3a3a3a; 
}

.main-menu > ul > li:last-child{
     border-right:none;
    }