body{
    background-color: grey; 
    position: absolute;
    width: 100%;
}
#headingBox{
    position: relative;
    background-color: #A9AA39;
    width: 95%;
    height: 150px;
    padding: 1%;
    margin: 1% 1% 1% 1%;
}
h1{
    font-family: 'Yeseva One', cursive;
    font-size: 80px;
    padding:;
    color: #3a3a3a;
    position: relative;
    top: 15px;

}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li{
    display: inline;
}